*
{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: monospace; 
}
body
{
  background: url(images/bg.jpg);
  background-size:  cover;
  background-attachment: fixed;
  background-position: center;
}
.globe{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
}
.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: url(images/world.jpg);
    background-repeat:  repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,1),0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
  }
  @keyframes animateEarth
  {
    0%
    {
      background-position: 0 0;
    }
    100%
    {
      background-position: -750px 0;
    }
  }
  .circle{
    transform-style: preserve-3d;
    animation: animateText 10s linear infinite;
  }
  .circle span{
    position: absolute;
    top:  0;
    left: 0;
    background: #eeff00;
    color: #000000;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    transform: rotateY(calc(var(--i) * calc(360deg/32)))translateZ(215px);
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
  }
  @keyframes animateText
  {
    0%
    {
      transform: perspective(1000px) rotateY(360deg) rotateX(20deg) translateY(-30px);
    }
    100%
    {
      transform: perspective(1000px) rotateY(0deg) rotateX(20deg) translateY(-30px);
    }
  }
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index:  100000;
}
header.sticky
{
    padding: 5px 100px;
    background : #fff;

}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 10001;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}
header ul li{
    position: relative;
    list-style: none;
    z-index: 10000;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    letter-spacing:  2px;
    font-weight: 500;
    transition: 0.6s;
    z-index: 10001;
}
.banner
{
    position: relative;
    width: 100%;
    background-size: cover;
    z-index: 10000;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
@keyframes fade-in
{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-out
{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes slide-up
{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}
.titlegraph{
  color: #ffffff;
  font-size: 30px
}
.graphicalrepresentation{
  position: relative;
  text-align: center;
  border-radius: 10px;
  background-color: #000000;
}
label{
  color: #ffffff;
  font-size: 20px;
}
.main-footer-container{
  padding: 24px 16px;
  background-color: #000;
  -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
.main-footer-heading{
  border-left: 4px solid #ff4460;
  border-right: 4px solid red;
  padding: 8px 32px;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  color: #fff;
}
.main-footer-container h3{
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  
}
.scratch-container{
  width: 300px;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
}
.scratch-card{
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: bold;
}
canvas{
  position: absolute;
  cursor: grabbing;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
#overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.thanks{
  color: #fff;
  left: 40px;
}
#form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#piechart{
  width: 100%;
}
.flex-container-information{
  display: flex;
  flex-flow: row;
  margin: 40px;
  flex-wrap: nowrap;
}
.information{
  text-align: left;
  margin-left: 20px;
  color: #000000;
  font-size: 20px;
}
.video-container{
  background-color: #000000;
}
.video-section-title{
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.video-description{
  font-size: 15px;
  color: #ffffff;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.information-video{
  text-align: left;
  margin-left: 20px;
  color: #ffffff;
  font-size: 20px;
}
/*Articles*/
.boxParent{
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
}
.boxCenter{
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border:1px solid #000000;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #808080;
}
.boxItem { 
  display: inline-block;
  border: 1px solid black;
  padding: 1em;
  position: absolute;
  background: #000000;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
}
.boxItem[data-boxItem-index]:after{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: 1px;
  border-top: 1px solid #ddff00;
}
.boxItem[data-boxItem-index='1']{
  top: 40%;
  left: 10%;
}
.boxItem[data-boxItem-index='1']:after{
  width: 600px;
  transform: rotate(340deg);
  top: 190px;
}
.boxItem[data-boxItem-index='2']{
  top: 25%;
  left: 70%;
}
.boxItem[data-boxItem-index='2']:after{
  width: 350px;
  transform: rotate(150deg);
  top: 120px;
  left: -200px;
}
.boxItem[data-boxItem-index='3']{
  top: 85%;
  left: 67%;
}
.boxItem[data-boxItem-index='3']:after{
  width: 300px;
  transform: rotate(23deg);
  top: 100px;
  left: -180px;
}
.block{
  display: block;
}

.embed-container {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}